<div id="main">
  <div id="top" class="w-small">
    <div alignment="true" class="headerIntroNoImage">
      <div alignment="true" class="headerSectionNoImage">
        <h1 alignment="true" class="overlayText">Eagles <span class="stay">Stay</span> or <span class="go">Go</span></h1>
        <div alignment="true" class="headDisplay">

          <div alignment="true" class="byline">
            <a target="_blank" href="https://www.delawareonline.com/staff/2646929001/martin-frank/">Martin Frank</a>, Delaware News Journal
          </div>
          <div alignment="true" class="dateline"><span id="span-updated">Nov. 9, 2020</span></div>



        </div>
      </div>
    </div>

    <div class="text-col" data-text="0">

      <p>The decisions are coming soon for the Eagles.</p>
      <p>Eagles general manager Howie Roseman has already said the team needs to get younger. That means several free agents and high-priced veterans could be on their way out, and possibly some recent draft picks who haven&rsquo;t panned out.</p>
      <p>Those moves should start in the next week or so, with free agency beginning next month.</p>
      <p>Here is your chance to weigh in on who should return or not:</p>



    </div>

  </div>
  <div id="g-main" class="w-large gap">

    <div id="submit" class="sticky">
      Submit your picks to see results <i class="fas fa-poll-h"></i>
    </div>


    
    <div class="g-row-label gap">receivers</div>
    <div class="g-group">
      
      <div alignment="true" class="g-card Go" id="player-19" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Go">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#19</span> </div> -->
            <img src="images/yj3qdxoyctovnxrjbuml.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#19 J.J. Arcega-Whiteside</div>
            <div class="detail">Ht: 6-2 / Wt: 225 / Age: 23</div>
            
            <div class="description">In 22 career games, the Eagles&#39; second-round pick in 2019 has 12 total catches, or 11 fewer than Travis Fulgham in 5 games.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Go">Go</span><br />
              <span>Why?</span> Arcega-Whiteside has had every opportunity to make his mark. The Eagles will be forever haunted for drafting him over D.K. Metcalf.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Arcega-Whiteside has had every opportunity to make his mark. The Eagles will be forever haunted for drafting him over D.K. Metcalf. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="19" data-name="J.J. Arcega-Whiteside">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Stay" id="player-13" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#13</span> </div> -->
            <img src="images/cg7fsgfnkkpuyq1ajqpf.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#13 Travis Fulgham</div>
            <div class="detail">Ht: 6-2 / Wt: 215 / Age: 25</div>
            
            <div class="description">Where would the Eagles be without Fulgham, who was on the practice squad as recently as Oct. 3? His production in the first 5 games is second only to Terrell Owens in 2004.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> Fulgham was cut three times this summer alone before getting his chance and shining. But he&#39;s a free agent after 2021.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Fulgham was cut three times this summer alone before getting his chance and shining. But he&#39;s a free agent after 2021. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="13" data-name="Travis Fulgham">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Stay" id="player-88" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#88</span> </div> -->
            <img src="images/yinznldug3yojtldl8ux.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#88 Dallas Goedert</div>
            <div class="detail">Ht: 6-5 / Wt: 256 / Age: 25</div>
            
            <div class="description">Both Goedert and Zach Ertz are eligible for free agency after 2021. They might have to trade one of them during the offseason.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> Goedert is younger, a better blocker, and won&#39;t be as expensive as Ertz in his new contract.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Goedert is younger, a better blocker, and won&#39;t be as expensive as Ertz in his new contract. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="88" data-name="Dallas Goedert">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Go" id="player-17" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Go">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#17</span> </div> -->
            <img src="images/t62i3u3tr9vtsnl3lwzd.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#17 Alshon Jeffery</div>
            <div class="detail">Ht: 6-3 / Wt: 218 / Age: 30</div>
            
            <div class="description">Jeffery has yet to play this season after having foot surgery last December. He suffered a calf injury while ramping up to return.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Go">Go</span><br />
              <span>Why?</span> Jeffery would&#39;ve been gone by now if the Eagles didn&#39;t have to eat $26 million in cap space. After this season, it&#39;ll be down to $10 million.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Jeffery would&#39;ve been gone by now if the Eagles didn&#39;t have to eat $26 million in cap space. After this season, it&#39;ll be down to $10 million. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="17" data-name="Alshon Jeffery">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Stay" id="player-84" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#84</span> </div> -->
            <img src="images/ixladqgn3e8qoam5jvwa.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#84 Greg Ward</div>
            <div class="detail">Ht: 5-11 / Wt: 190 / Age: 25</div>
            
            <div class="description">Ward, like Fulgham, is another former practice squad player who found a regular role. He leads the Eagles with 32 receptions.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> As a slot receiver, Ward is reliable, ranking among the NFL&#39;s leaders in 3rd-down receptions.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: As a slot receiver, Ward is reliable, ranking among the NFL&#39;s leaders in 3rd-down receptions. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="84" data-name="Greg Ward">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Go" id="player-86" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Go">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#86</span> </div> -->
            <img src="images/lnr015ytw5kxztiiqafn.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#86 Zach Ertz</div>
            <div class="detail">Ht: 6-5 / Wt: 250 / Age: 29</div>
            
            <div class="description">Ertz set an NFL record for receptions in a season by a tight end. But he&#39;s having an awful season, and is frustrated by his contract.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Go">Go</span><br />
              <span>Why?</span> Ertz is on IR, but Eagles can trade him during offseason because they can&#39;t afford both him and Goedert.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Ertz is on IR, but Eagles can trade him during offseason because they can&#39;t afford both him and Goedert. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="86" data-name="Zach Ertz">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Go" id="player-10" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Go">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#10</span> </div> -->
            <img src="images/lmhrtth4fx8gznj33nst.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#10 DeSean Jackson</div>
            <div class="detail">Ht: 5-10 / Wt: 175 / Age: 33</div>
            
            <div class="description">Jackson, considered a top deep threat, has played in just 7 out of a possible 25 games, and he might not play again this season.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Go">Go</span><br />
              <span>Why?</span> Jackson turns 34 in December, and the Eagles drafted 3 speed receivers, led by Jalen Reagor, who need to play.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Jackson turns 34 in December, and the Eagles drafted 3 speed receivers, led by Jalen Reagor, who need to play. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="10" data-name="DeSean Jackson">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
    </div>
    
    
    <div class="g-row-label gap">defensive line</div>
    <div class="g-group">
      
      <div alignment="true" class="g-card Stay" id="player-96" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#96</span> </div> -->
            <img src="images/dntckrj80gullzqhm6es.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#96 Derek Barnett</div>
            <div class="detail">Ht: 6-3 / Wt: 259 / Age: 24</div>
            
            <div class="description">The Eagles&#39; first-round pick in 2017 has played well when healthy, which hasn&#39;t been often enough.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> Barnett is one of the young players that the Eagles want to build around. They need him to stay productive, and healthy.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Barnett is one of the young players that the Eagles want to build around. They need him to stay productive, and healthy. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="96" data-name="Derek Barnett">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Stay" id="player-91" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#91</span> </div> -->
            <img src="images/csrpsgpel3z1ke1t2uty.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#91 Fletcher Cox</div>
            <div class="detail">Ht: 6-4 / Wt: 310 / Age: 29</div>
            
            <div class="description">Cox has been selected to the Pro Bowl in each of the last five seasons. But he has just 6 sacks since the start of the 2019 season.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> But only if Cox restructures his contract because he will count $23.9 million against the salary cap next season.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: But only if Cox restructures his contract because he will count $23.9 million against the salary cap next season. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="91" data-name="Fletcher Cox">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Stay" id="player-55" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#55</span> </div> -->
            <img src="images/g548wv4ix4wvshzdtcws.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#55 Brandon Graham</div>
            <div class="detail">Ht: 6-2 / Wt: 265 / Age: 32</div>
            
            <div class="description">At age 32 and in his 11th season, Graham is off to the best start of his career, with 7 sacks in 8 games.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> Like Cox, Graham is expensive, costing $17 million against the cap next season. He, too, will have to restructure in order to stay.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Like Cox, Graham is expensive, costing $17 million against the cap next season. He, too, will have to restructure in order to stay. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="55" data-name="Brandon Graham">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Stay" id="player-93" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#93</span> </div> -->
            <img src="images/dtzbdfz3knvoqq8ehzsr.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#93 Javon Hargrave</div>
            <div class="detail">Ht: 6-2 / Wt: 305 / Age: 27</div>
            
            <div class="description">Hargrave, the Eagles&#39; free agent signee last spring, hasn&#39;t yet peformed up to his $13 million annual average contract.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> The Eagles strongly believe in supporting Fletcher Cox, and Hargrave is a key component in that.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: The Eagles strongly believe in supporting Fletcher Cox, and Hargrave is a key component in that. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="93" data-name="Javon Hargrave">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Go" id="player-97" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Go">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#97</span> </div> -->
            <img src="images/n8xxhm8f6npx5msiclhl.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#97 Malik Jackson</div>
            <div class="detail">Ht: 6-5 / Wt: 290 / Age: 30</div>
            
            <div class="description">Jackson played in just one game in 2019 after signing a big contract, and hasn&#39;t been as productive as expected.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Go">Go</span><br />
              <span>Why?</span> The Eagles can&#39;t afford to pay Cox, Hargrave and Jackson next season. Jackson is the oldest and least productive of the three.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: The Eagles can&#39;t afford to pay Cox, Hargrave and Jackson next season. Jackson is the oldest and least productive of the three. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="97" data-name="Malik Jackson">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Stay" id="player-94" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#94</span> </div> -->
            <img src="images/h2mpqocl6rzncf7n9uw5.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#94 Josh Sweat</div>
            <div class="detail">Ht: 6-5 / Wt: 251 / Age: 23</div>
            
            <div class="description">Sweat has worked himself into a regular part of the defensive end rotation, giving the Eagles 3 solid DEs with him, Graham and Barnett.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> Sweat will ultimately be Graham&#39;s replacement. He&#39;s young, cheap and the Eagles need him to keep developing.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Sweat will ultimately be Graham&#39;s replacement. He&#39;s young, cheap and the Eagles need him to keep developing. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="94" data-name="Josh Sweat">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
    </div>
    
    
    <div class="g-row-label gap">running backs</div>
    <div class="g-group">
      
      <div alignment="true" class="g-card Go" id="player-30" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Go">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#30</span> </div> -->
            <img src="images/omhlbwzoa1yiqtzfjxsd.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#30 Corey Clement</div>
            <div class="detail">Ht: 5-10 / Wt: 220 / Age: 26</div>
            
            <div class="description">Clement will forever remembered for his rookie season, which he capped with 100 receiving yards in the Super Bowl.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Go">Go</span><br />
              <span>Why?</span> Clement is good on special teams, but he is not the same runner that he was as a rookie. The Eagles have his replacement in James Huntley.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Clement is good on special teams, but he is not the same runner that he was as a rookie. The Eagles have his replacement in James Huntley. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="30" data-name="Corey Clement">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Stay" id="player-26" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#26</span> </div> -->
            <img src="images/leapmy0bqtvntliefdmr.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#26 Miles Sanders</div>
            <div class="detail">Ht: 5-11 / Wt: 211 / Age: 23</div>
            
            <div class="description">Sanders is having a great season, when he has played, reeling off 2 runs of 74 yards. But he has missed 3 games with injuries.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> The Eagles consider him their main running back, but they might have to sign a free agent in case he gets hurt again.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: The Eagles consider him their main running back, but they might have to sign a free agent in case he gets hurt again. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="26" data-name="Miles Sanders">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Stay" id="player-35" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#35</span> </div> -->
            <img src="images/pufwqdswtnuevclq2kkx.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#35 Boston Scott</div>
            <div class="detail">Ht: 5-6 / Wt: 203 / Age: 25</div>
            
            <div class="description">Scott has value as a 3rd running back, as a receiver, and on special teams. But he&#39;s averaging just 3.8 yards per carry.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> Scott can provide depth at RB, but not as a starter if Sanders gets hurt.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Scott can provide depth at RB, but not as a starter if Sanders gets hurt. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="35" data-name="Boston Scott">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
    </div>
    
    
    <div class="g-row-label gap">special teams</div>
    <div class="g-group">
      
      <div alignment="true" class="g-card Stay" id="player-4" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#4</span> </div> -->
            <img src="images/umkmqhyksqcwilrlerge.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#4 Jake Elliott</div>
            <div class="detail">Ht: 5-9 / Wt: 167 / Age: 25</div>
            
            <div class="description">Elliott has missed 4 field goals, although 3 of them were from 50 yards or more, and his success rate is just 66.7%</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> After signing a contract extension last winter, it&#39;s likely that the Eagles will bring in competition for him next summer.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: After signing a contract extension last winter, it&#39;s likely that the Eagles will bring in competition for him next summer. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="4" data-name="Jake Elliott">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Stay" id="player-1" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#1</span> </div> -->
            <img src="images/lpua38hveiilobzv7xcn.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#1 Cameron Johnston</div>
            <div class="detail">Ht: 5-11 / Wt: 194 / Age: 28</div>
            
            <div class="description">Johnston is having a strong season, ranking among the top six among punters in net average and punts downed inside the 20.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> Johnston continues to be a solid contributor. But it never hurts to bring in competition next summer.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Johnston continues to be a solid contributor. But it never hurts to bring in competition next summer. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="1" data-name="Cameron Johnston">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
    </div>
    
    
    <div class="g-row-label gap">quarterbacks</div>
    <div class="g-group">
      
      <div alignment="true" class="g-card Stay" id="player-2" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#2</span> </div> -->
            <img src="images/bkgpy1cnemrcdwyhfkhk.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#2 Jalen Hurts</div>
            <div class="detail">Ht: 6-1 / Wt: 223 / Age: 22</div>
            
            <div class="description">Hurts was the Eagles&#39; second-round pick, an early slot for a backup quarterback with little chance of playing much.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> Carson Wentz has had a poor season so far. The Eagles could move on as soon as 2022. But Hurts has only thrown 2 NFL passes.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Carson Wentz has had a poor season so far. The Eagles could move on as soon as 2022. But Hurts has only thrown 2 NFL passes. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="2" data-name="Jalen Hurts">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Go" id="player-7" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Go">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#7</span> </div> -->
            <img src="images/gdnwm3rhzj8v5ku32f9z.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#7 Nate Sudfeld</div>
            <div class="detail">Ht: 6-6 / Wt: 227 / Age: 27</div>
            
            <div class="description">It seems like every season Sudfeld vies for the backup quarterback position, and every year he ends up as third string.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Go">Go</span><br />
              <span>Why?</span> The Eagles have Jalen Hurts now, and someone will pay Sudfeld to serve as a backup.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: The Eagles have Jalen Hurts now, and someone will pay Sudfeld to serve as a backup. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="7" data-name="Nate Sudfeld">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Stay" id="player-11" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#11</span> </div> -->
            <img src="images/jhf5l81xlopng7n48jeh.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#11 Carson Wentz</div>
            <div class="detail">Ht: 6-5 / Wt: 237 / Age: 27</div>
            
            <div class="description">Wentz is having the worst season of his career, leading the NFL with 16 turnovers. But he has also led 2 comeback wins this season.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> Wentz is signed through 2024, but the Eagles can turn to Hurts as soon as the 2022 season if Wentz doesn&#39;t improve.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Wentz is signed through 2024, but the Eagles can turn to Hurts as soon as the 2022 season if Wentz doesn&#39;t improve. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="11" data-name="Carson Wentz">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
    </div>
    
    
    <div class="g-row-label gap">offensive line</div>
    <div class="g-group">
      
      <div alignment="true" class="g-card Stay" id="player-65" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#65</span> </div> -->
            <img src="images/trqzttwrisbgnyhnnwia.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#65 Lane Johnson</div>
            <div class="detail">Ht: 6-6 / Wt: 317 / Age: 30</div>
            
            <div class="description">When healthy, Johnson is easily one of the top tight ends in the NFL. But he has played just 1 full game this season.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> He is in the same category as Cox and Graham, older veteran with big salaries who&#39;ll have to restructure their contracts.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: He is in the same category as Cox and Graham, older veteran with big salaries who&#39;ll have to restructure their contracts. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="65" data-name="Lane Johnson">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Stay" id="player-62" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#62</span> </div> -->
            <img src="images/mdv6yekgnveoxu8fdz14.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#62 Jason Kelce</div>
            <div class="detail">Ht: 6-3 / Wt: 295 / Age: 32</div>
            
            <div class="description">Kelce is the only projected starting offensive lineman to play every game so far this season, and he&#39;s doing it at a high level, as usual</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> Kelce, who has considered retirement in each of the past few offseasons, is a vital cog in the offensive line.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Kelce, who has considered retirement in each of the past few offseasons, is a vital cog in the offensive line. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="62" data-name="Jason Kelce">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Stay" id="player-68" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#68</span> </div> -->
            <img src="images/hgklpdzk2tv98wrwkr5q.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#68 Jordan Mailata</div>
            <div class="detail">Ht: 6-8 / Wt: 346 / Age: 23</div>
            
            <div class="description">Many thought Mailata wouldn&#39;t make the team this summer. Yet the Australian rugby star has started 4 games and held his own.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> Mailata should have a role next season as a backup at left and right tackle.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Mailata should have a role next season as a backup at left and right tackle. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="68" data-name="Jordan Mailata">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Go" id="player-71" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Go">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#71</span> </div> -->
            <img src="images/zmaowrfydlg48o3jeznw.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#71 Jason Peters</div>
            <div class="detail">Ht: 6-4 / Wt: 328 / Age: 38</div>
            
            <div class="description">Peters is 38 years old and in his 17th season, and for the first time, he&#39;s playing like a fading veteran, especially at left tackle.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Go">Go</span><br />
              <span>Why?</span> It&#39;s time to cut the cord. Peters will be in the Hall of Fame one day. But the Eagles need to get younger and cheaper.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: It&#39;s time to cut the cord. Peters will be in the Hall of Fame one day. But the Eagles need to get younger and cheaper. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="71" data-name="Jason Peters">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Stay" id="player-77" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#77</span> </div> -->
            <img src="images/jpx91ty9aoo9fqzszpvf.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#77 Andre Dillard</div>
            <div class="detail">Ht: 6-5 / Wt: 315 / Age: 25</div>
            
            <div class="description">The Eagles&#39; first-round pick in 2019, Dillard was expected to take over for Jason Peters until a biceps injury in August ended his season.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> The Eagles desperately need Dillard to become a starting-caliber left tackle. He&#39;ll get every chance to do that in 2021.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: The Eagles desperately need Dillard to become a starting-caliber left tackle. He&#39;ll get every chance to do that in 2021. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="77" data-name="Andre Dillard">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
    </div>
    
    
    <div class="g-row-label gap">defensive backs</div>
    <div class="g-group">
      
      <div alignment="true" class="g-card Stay" id="player-29" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#29</span> </div> -->
            <img src="images/x9vvcntvtmgrkojpvvnr.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#29 Avonte Maddox</div>
            <div class="detail">Ht: 5-9 / Wt: 184 / Age: 24</div>
            
            <div class="description">Maddox isn&#39;t nearly at the level of Slay. But he&#39;s young, and as long as Slay is productive, Maddox should have plenty of safety help.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> Maddox is one of the young players who the Eagles want to develop. He&#39;ll never be a star, but he&#39;s good enough.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Maddox is one of the young players who the Eagles want to develop. He&#39;ll never be a star, but he&#39;s good enough. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="29" data-name="Avonte Maddox">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Stay" id="player-23" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#23</span> </div> -->
            <img src="images/ncnzvoldz2gokgrszjsg.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#23 Rodney McLeod</div>
            <div class="detail">Ht: 5-10 / Wt: 195 / Age: 30</div>
            
            <div class="description">McLeod signed a 2-year deal last March, and has taken over the leadership void left by Malcolm Jenkins.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> The Eagles would like to find a young replacement, but McLeod is valuable for another season.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: The Eagles would like to find a young replacement, but McLeod is valuable for another season. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="23" data-name="Rodney McLeod">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Go" id="player-21" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Go">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#21</span> </div> -->
            <img src="images/s5syo2tvnspx3x6uybmz.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#21 Jalen Mills</div>
            <div class="detail">Ht: 6-0 / Wt: 191 / Age: 26</div>
            
            <div class="description">Mills is in his first season at safety, with mixed results, after spending his first four seasons at cornerback.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Go">Go</span><br />
              <span>Why?</span> Mills is eligible for free agency, and the Eagles have rookie K&#39;Von Wallace and other role players to take over.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Mills is eligible for free agency, and the Eagles have rookie K&#39;Von Wallace and other role players to take over. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="21" data-name="Jalen Mills">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Go" id="player-28" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Go">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#28</span> </div> -->
            <img src="images/xnes1qpwj8mocfysutsx.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#28 Will Parks</div>
            <div class="detail">Ht: 6-1 / Wt: 194 / Age: 26</div>
            
            <div class="description">Parks missed the first five games with an injury, but has played well since returning. But he&#39;s eligible for free agency.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Go">Go</span><br />
              <span>Why?</span> Again, the Eagles expect Wallace to start next to McLeod next season, and the Eagles also have Marcus Epps and Rudy Ford as backups.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Again, the Eagles expect Wallace to start next to McLeod next season, and the Eagles also have Marcus Epps and Rudy Ford as backups. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="28" data-name="Will Parks">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
      <div alignment="true" class="g-card Stay" id="player-24" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Stay">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#24</span> </div> -->
            <img src="images/pfmkadwvgvo2prursyo0.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#24 Darius Slay</div>
            <div class="detail">Ht: 6-0 / Wt: 190 / Age: 29</div>
            
            <div class="description">Slay has shut down the opponent&#39;s top receiver in every game, enabling the Eagles&#39; secondary to transform into one of the NFL&#39;s best.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Stay">Stay</span><br />
              <span>Why?</span> Slay&#39;s 3-year, $50 million contract extension starts kicking in next season. At this point, he&#39;s worth it.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: Slay&#39;s 3-year, $50 million contract extension starts kicking in next season. At this point, he&#39;s worth it. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="24" data-name="Darius Slay">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
    </div>
    
    
    <div class="g-row-label gap">linebackers</div>
    <div class="g-group">
      
      <div alignment="true" class="g-card Go" id="player-47" data-name="">
        <div class="top-section section">
          <div alignment="true" class="photosection Go">
            <!-- <div alignment="true" class="corner-mark"> <span alignment="true">#47</span> </div> -->
            <img src="images/iilpicdupfe8cgivkewo.png" alt="">
          </div>
          <div alignment="true" class="infosection">
            
            <div class="name">#47 Nathan Gerry</div>
            <div class="detail">Ht: 6-2 / Wt: 230 / Age: 25</div>
            
            <div class="description">Gerry has been burned often in pass coverage, but he still plays nearly every snap because Eagles have devalued the position.</div>
            <div class="ourCall ">
              <span>Our call</span> <span class="Go">Go</span><br />
              <span>Why?</span> The Eagles have T.J. Edwards and drafted 2 players. They should pursue an upgrade in free agency.
            </div>
            <!-- <div class="reason"> -->
            <!-- Why?: The Eagles have T.J. Edwards and drafted 2 players. They should pursue an upgrade in free agency. -->
            <!-- </div> -->
          </div>
        </div>
        <div class="bottom-section section">



          <div alignment="true" class="staygo" data-vote="empty" data-number="47" data-name="Nathan Gerry">
            <div alignment="true" class="votebutton staybutton" data-vote="stay">STAY</div>
            <div alignment="true" class="votebutton gobutton" data-vote="go">GO</div>
          </div>
        </div>
      </div>
      
    </div>
    
    




  </div>

  <div class="text-col w-small gap" data-text="1">
    <div class="credit">Player photos, copyright © 2020 The Eagles</div>
    <hr />
    To give feedback or to report an issue with this page, contact Jared Whalen at <a href="mailto:jwhalen@delawareonline.com?subject=Eagles%20Stay%20or%20Go">jwhalen@delawareonline.com</a>.
  </div>



</div>
