.inline-share-tools {
  margin: 10px 0 15px 0px;
  white-space: nowrap; }

.asset-inline-share-tools-bottom {
  padding-top: 10px; }

.inline-share-tools-label {
  display: inline-block;
  font: 400 11px/28px 'Unify Sans Bold',Arial,sans-serif;
  height: 28px;
  background: #e0e0e0;
  box-shadow: inset -2px 0 4px -1px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  top: 1px;
  vertical-align: top; }

.inline-share-btn {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #d6d6d6;
  cursor: pointer;
  display: inline-block;
  height: 28px;
  outline: 0;
  padding: 0 10px;
  position: relative;
  text-align: center; }
  .inline-share-btn.inline-share-btn-email {
    border-right: none; }

.inline-share-btn-more {
  border: 0; }

.inline-share-count {
  font: 400 12px/18px 'Unify Sans Bold',arial,sans-serif;
  color: #000;
  display: block;
  white-space: nowrap; }

.inline-share-count:before {
  background: url("../../images/components/utility-contribute-new-sprite.png") no-repeat;
  content: '';
  display: inline-block;
  position: relative;
  top: -2px;
  vertical-align: middle; }

.inline-share-count-facebook:before {
  background-position: -284px -65px;
  height: 14px;
  width: 8px; }

.inline-share-count-twitter:before {
  background-position: -11px -35px;
  height: 15px;
  width: 19px; }

.inline-share-count-linkedin:before {
  background-position: -68px -60px;
  height: 15px;
  width: 19px; }

.inline-share-count-comments:before {
  background-position: -190px -34px;
  height: 17px;
  width: 17px; }

.inline-share-count-email:before {
  background-position: -251px -64px;
  margin: 0;
  height: 15px;
  width: 15px; }

.inline-share-count-more:before {
  background-position: -101px -9px;
  height: 12px;
  top: -1px;
  width: 15px; }

.inline-share-btn-label {
  font: 700 8px/12px arial,sans-serif;
  color: #999;
  display: block;
  text-transform: uppercase;
  position: relative;
  top: 1px;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -ms-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s; }

.inline-share-btn:hover > .inline-share-btn-label {
  color: #000; }

.inline-share-btn-facebook:hover > .inline-share-btn-label {
  color: #4862a7; }

.inline-share-btn-twitter:hover > .inline-share-btn-label {
  color: #1bb2df; }

.inline-share-btn-linkedin:hover > .inline-share-btn-label {
  color: #4875b4; }

.prsstm {
  display: table;
  margin: 0;
  padding: 27px 0 10px;
  position: relative; }

.prsstm-item-wrap {
  display: table-cell; }

.prsstm-item {
  display: block;
  text-align: center; }

.prsstm-img {
  border: 5px solid #FFF;
  box-shadow: 0 4px 8px 0 #BEBEBE;
  width: 120px;
  height: 120px; }

body {
  font-family: "Unify Sans Bold", sans-serif;
  margin: 0 auto;
  font: 14px/22px arial,sans-serif;
  color: #333; }

.headerIntroNoImage {
  align-items: center;
  position: relative;
  width: auto;
  height: auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 80px 8% 0;
  justify-content: center; }
  @media only screen and (max-width: 800px) {
    .headerIntroNoImage {
      flex-wrap: wrap;
      flex-direction: column;
      padding: 45px 15px 0; } }
  @media only screen and (max-width: 480px) {
    .headerIntroNoImage {
      padding: 45px 15px 0; } }
  .headerIntroNoImage .headerSectionNoImage {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    z-index: 5;
    margin: 0 auto;
    max-width: 700px; }
    @media only screen and (max-width: 480px) {
      .headerIntroNoImage .headerSectionNoImage {
        padding: 5px 0 8px; } }
    .headerIntroNoImage .headerSectionNoImage .overlayText {
      position: relative;
      text-align: center;
      color: #222;
      font-family: "Unify Sans Bold", sans-serif;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -1px;
      font-size: 60px;
      margin: 0; }
      @media only screen and (max-width: 800px) {
        .headerIntroNoImage .headerSectionNoImage .overlayText {
          font-size: 40px; } }
      .headerIntroNoImage .headerSectionNoImage .overlayText span {
        padding: 4px 9px;
        border-radius: 3px;
        color: white; }
        @media only screen and (max-width: 480px) {
          .headerIntroNoImage .headerSectionNoImage .overlayText span {
            padding: 1px 2px;
            line-height: 1.3; } }
        .headerIntroNoImage .headerSectionNoImage .overlayText span.stay {
          background-color: rgba(0, 76, 84, 0.8); }
        .headerIntroNoImage .headerSectionNoImage .overlayText span.go {
          background-color: rgba(232, 24, 40, 0.8); }
    .headerIntroNoImage .headerSectionNoImage .headDisplay {
      display: block;
      position: relative;
      margin: 30px 0 15px; }
    .headerIntroNoImage .headerSectionNoImage .subhead {
      font-size: 22px;
      padding-top: 10px; }
      @media only screen and (max-width: 480px) {
        .headerIntroNoImage .headerSectionNoImage .subhead {
          font-size: 18px; } }
    .headerIntroNoImage .headerSectionNoImage .byline {
      font-family: "Unify Sans Bold", sans-serif;
      display: inline-block;
      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
      margin: 6px 0 5px;
      padding: 2px 10px;
      position: relative;
      color: #222; }
      .headerIntroNoImage .headerSectionNoImage .byline a {
        color: #4ec4ff; }
    .headerIntroNoImage .headerSectionNoImage .dateline {
      font-family: "Unify Sans Bold", sans-serif;
      display: inline-block;
      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
      margin: 6px 0 5px;
      padding: 2px 10px;
      position: relative;
      color: #999;
      font-weight: 400; }
      @media only screen and (max-width: 480px) {
        .headerIntroNoImage .headerSectionNoImage .dateline {
          padding-top: 30px; } }

p {
  font: 16px/22px arial,sans-serif;
  color: #333; }

.sticky {
  position: sticky;
  top: 0px;
  z-index: 9999;
  position: -webkit-sticky; }

.accent1 {
  font-weight: 900;
  border-bottom: 3px solid #333;
  padding: 2px 3px; }

.w-large {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; }

.w-small {
  width: 100%;
  max-width: 700px;
  margin: 0 auto; }

.gap {
  margin-top: 50px;
  margin-bottom: 50px; }

.small_gap {
  margin-top: 25px;
  margin-bottom: 25px; }

#main {
  padding: 0 20px; }
  @media only screen and (max-width: 480px) {
    #main {
      padding: 0 10px; } }

#submit {
  width: 100%;
  text-align: center;
  background-color: #222;
  color: #fff;
  border-radius: 3px;
  padding: 15px 0px;
  font-size: 18px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 3px 0 0 #009BFF;
  font-weight: 800;
  top: 0px;
  z-index: 8000 !important;
  cursor: pointer; }
  #submit:hover {
    background-color: #009BFF; }

#g-main {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale; }
  #g-main .g-row-label {
    text-align: left;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 3px solid #009BFF;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 25px; }
  #g-main .g-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; }
    #g-main .g-group .g-card {
      display: flex;
      padding: 20px;
      position: relative;
      width: calc(50% - 50px);
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 20px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 3px 0 0 rgba(215, 215, 215, 0.5); }
      @media only screen and (max-width: 800px) {
        #g-main .g-group .g-card {
          width: 100%;
          margin-bottom: 20px; } }
      @media only screen and (max-width: 480px) {
        #g-main .g-group .g-card {
          padding: 10px; } }
      #g-main .g-group .g-card .top-section {
        width: 100%;
        display: flex;
        align-items: flex-start; }
        @media only screen and (max-width: 480px) {
          #g-main .g-group .g-card .top-section {
            flex-wrap: wrap;
            justify-content: center; } }
        #g-main .g-group .g-card .top-section .photosection {
          min-width: 130px;
          min-height: 150px;
          position: relative;
          overflow: hidden;
          border-radius: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(215, 215, 215, 0.5); }
          @media only screen and (max-width: 480px) {
            #g-main .g-group .g-card .top-section .photosection {
              margin-bottom: 20px; } }
          #g-main .g-group .g-card .top-section .photosection img {
            height: 150px;
            z-index: 1;
            object-fit: cover;
            width: 130px; }
          #g-main .g-group .g-card .top-section .photosection:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0.15;
            width: 100%;
            height: 100%;
            z-index: -1; }
        #g-main .g-group .g-card .top-section .infosection {
          padding-left: 20px;
          flex-grow: 1; }
          #g-main .g-group .g-card .top-section .infosection .name {
            font-weight: 800;
            text-transform: uppercase;
            font-size: 20px; }
            @media only screen and (max-width: 480px) {
              #g-main .g-group .g-card .top-section .infosection .name {
                text-align: center; } }
          #g-main .g-group .g-card .top-section .infosection .detail {
            font-size: 14px;
            font-weight: lighter;
            color: #666;
            padding-bottom: 5px;
            margin-bottom: 5px;
            border-bottom: 1px solid #ddd; }
            @media only screen and (max-width: 480px) {
              #g-main .g-group .g-card .top-section .infosection .detail {
                text-align: center; } }
          #g-main .g-group .g-card .top-section .infosection .ourCall {
            display: none;
            margin-top: 5px; }
            #g-main .g-group .g-card .top-section .infosection .ourCall span {
              font-weight: bold;
              text-transform: uppercase;
              border-radius: 3px; }
              #g-main .g-group .g-card .top-section .infosection .ourCall span.Stay {
                background-color: rgba(0, 76, 84, 0.8);
                color: white;
                padding: 2px 5px; }
              #g-main .g-group .g-card .top-section .infosection .ourCall span.Go {
                background-color: rgba(232, 24, 40, 0.8);
                color: white;
                padding: 2px 5px; }
      #g-main .g-group .g-card .bottom-section {
        width: 100%; }
        #g-main .g-group .g-card .bottom-section .staygo {
          display: -ms-flexbox;
          display: flex;
          margin-top: 15px;
          width: 100%;
          justify-content: space-between; }
          #g-main .g-group .g-card .bottom-section .staygo .votebutton {
            border: 1px solid #ddd;
            background-color: white;
            border-radius: 3px;
            width: calc(50% - 25px);
            padding: 6px 8px;
            line-height: 1.2em;
            font-weight: 900;
            color: #666;
            text-align: center;
            cursor: pointer;
            opacity: 0.7; }
            #g-main .g-group .g-card .bottom-section .staygo .votebutton.active, #g-main .g-group .g-card .bottom-section .staygo .votebutton:hover {
              color: #fff;
              opacity: 1; }
              #g-main .g-group .g-card .bottom-section .staygo .votebutton.active.staybutton, #g-main .g-group .g-card .bottom-section .staygo .votebutton:hover.staybutton {
                border-color: rgba(0, 76, 84, 0);
                background-color: rgba(0, 76, 84, 0.8); }
              #g-main .g-group .g-card .bottom-section .staygo .votebutton.active.gobutton, #g-main .g-group .g-card .bottom-section .staygo .votebutton:hover.gobutton {
                border-color: rgba(232, 24, 40, 0);
                background-color: rgba(232, 24, 40, 0.8); }
          #g-main .g-group .g-card .bottom-section .staygo .results {
            width: 100%;
            font-weight: bold; }
            #g-main .g-group .g-card .bottom-section .staygo .results div {
              width: 100%;
              text-align: left;
              position: relative; }
              #g-main .g-group .g-card .bottom-section .staygo .results div.row {
                color: #333;
                font-weight: 400;
                opacity: 1;
                z-index: 1;
                padding: 6px 0;
                font-size: 16px; }
              #g-main .g-group .g-card .bottom-section .staygo .results div .bars {
                position: absolute;
                left: 0;
                top: 3px;
                bottom: 4px;
                z-index: -1;
                border-radius: 3px; }
                #g-main .g-group .g-card .bottom-section .staygo .results div .bars.stay {
                  border: 1px solid #004c54;
                  background-color: rgba(0, 76, 84, 0.2); }
                #g-main .g-group .g-card .bottom-section .staygo .results div .bars.go {
                  border: 1px solid #e81828;
                  background-color: rgba(232, 24, 40, 0.2); }
      #g-main .g-group .g-card.post.Stay {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 3px 0 0 rgba(0, 76, 84, 0.8); }
      #g-main .g-group .g-card.post.Go {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 3px 0 0 #E81828; }
      #g-main .g-group .g-card.post .top-section .photosection.Stay {
        background-color: rgba(0, 76, 84, 0.2); }
      #g-main .g-group .g-card.post .top-section .photosection.Go {
        background-color: rgba(232, 24, 40, 0.2); }

.credit {
  text-align: right;
  font-style: italic; }

.adblock {
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
  background-color: rgba(127, 189, 255, 0.3); }
  .adblock a {
    color: #0A32A0; }
