<!--removeIf(pymframe)-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <!-- COMMON TAGS -->
  <meta charset="utf-8">
  <title>Eagles stay or go: You decide</title>
  <meta name="description" content="The decisions are coming soon for the Eagles. Here is your chance to weigh in on who should return or not.">
  <meta name="image" content="http://content-static.delawareonline.com/projects/2019_eagles-stay-or-go/eagles-stay-or-go-og.jpg">
  <meta itemprop="name" content="Eagles stay or go: You decide">
  <meta itemprop="description" content="The decisions are coming soon for the Eagles. Here is your chance to weigh in on who should return or not.">
  <meta itemprop="image" content="http://content-static.delawareonline.com/projects/2019_eagles-stay-or-go/eagles-stay-or-go-og.jpg">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Eagles stay or go: You decide">
  <meta name="twitter:description" content="The decisions are coming soon for the Eagles. Here is your chance to weigh in on who should return or not.">
  <meta name="twitter:site" content="@delawareonline">
  <meta name="twitter:creator" content="@jared_whalen">
  <meta name="twitter:image:src" content="http://content-static.delawareonline.com/projects/2019_eagles-stay-or-go/eagles-stay-or-go-twitter.jpg">
  <meta name="og:title" content="Eagles stay or go: You decide">
  <meta name="og:description" content="The decisions are coming soon for the Eagles. Here is your chance to weigh in on who should return or not.">
  <meta name="og:image" property="og:image" content="http://content-static.delawareonline.com/projects/2019_eagles-stay-or-go/eagles-stay-or-go-og.jpg">
  <meta name="og:url" content="https://content-static.delawareonline.com/projects/2020-02-eagles-stay-or-go/index.html">
  <meta name="og:site_name" content="Eagles stay or go: You decide">


  <link rel="icon" type="image/png" href="https://www.gannett-cdn.com/sites/delawareonline/images/favicon.png">

  <!--removeIf(tmp)-->
<link rel="preload" href="https://www.gannett-cdn.com/uxstatic/usatoday/css/fonts.css" as="stylesheet" crossorigin="anonymous">
  <script type="text/javascript" src="https://content-static.delawareonline.com/embeds/pym.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var pymChild = new pym.Child();
      pym.Child({ polling: 100 });
      pymChild.sendHeight();
    //   var t = setTimeout(function() {
    //     pymChild.sendHeight();
    //     console.log("pym Started")
    //   }, 2000);
    }, false);
  </script>
  <!--endRemoveIf(tmp)-->


  <!-- Tealium -->
  <script>
  var utag_data = {
  ssts: 'news',
  server: window.location.hostname,
  analytics: {
  prop8: window.location.hostname,
  prop16: 'Eagles Stay or Go, 2020',
  prop24: window.location.toString().split('?')[0],
  prop25: 'gpaper184',
  }
  };
  </script>
  <script src="https://tags.tiqcdn.com/utag/gci/delawareonline-cobrand/prod/utag.js"></script>
  <!-- /Tealium -->



</head>

<body>
  <!--endRemoveIf(pymframe)-->

  {% include "partials/stylesheets.html" %}
  <!--removeIf(tmp)-->

  <style>
    body,
    html {
      width: auto;
      height: auto;
      /*display: inline-block;*/
    }
  </style>
  <!--endRemoveIf(tmp)-->


  <!--build:css styles.min.css-->
  <link rel="stylesheet" href="css/styles.css">
  <!--endbuild-->

  <!--removeIf(production)-->
  <!-- <div class="graphicWrapper">
    <h3 class="heading">Chart title here</h3>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum est quo voluptatum et doloremque, facere, ducimus totam minima, quisquam similique facilis incidunt fugit odio dicta autem quibusdam sapiente tempore nostrum.</p> -->

  <!--endRemoveIf(production)-->

  {% include "main-body.html" ignore missing %} {% include "partials/script-links.html" %}

<!-- <iframe src="https://www.delawareonline.com/services/cobrand/footer/" width="100%" height="1030px" frameBorder="0"></iframe> -->
  <!--removeIf(production)-->

    <!-- <div class="source">SOURCE xxxXXX</div>
    <div class="source credit">Jared Whalen, Delaware News Journal</div>

  </div> -->

  <!--endRemoveIf(production)-->

  <!--build:js main.min.js -->
  <script src="js/main.js"></script>
  <!-- endbuild -->

  <!--removeIf(pymframe)-->
</body>

</html>
<!--endRemoveIf(pymframe)-->
